body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

/* global */
.flex{
  display: flex;
}

/* color */
.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.bg-grey {
  background: grey !important;
}

.menuSort {
  max-width: 280px;
  min-width: 200px;
  width: 100%;
  padding: 10px;
}

.switch {
  display: flex;
  justify-content: space-between;
}

.tab-sort {
  justify-content: center;
  text-align: center;
  /* background: chartreuse; */
  width: 100%;
}
.tab-sort button {
  border: none;
  padding: 10px 30px;
  border-radius: 0;
}