body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menuSort .css-zrodvd {
  margin: 0 !important;
}

.menuSort .css-zrodvd .css-9ypwsl-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 8px !important;
}

a {
  text-decoration: none;
}

/* global */
.flex{
  display: flex;
}

.hr-filter{
  margin-top: 20px;
  border: 1px solid #E8E8E8;
}

/* margin */
.m-1 {
  margin: 0.25rem !important;
}
.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.my-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* color */
.color-primary {
  color: #25282B; 
}
.color-primary-grey {
  color: #A0A4A8 !important;
}

.bg-gray-main {
  background:#E8E8E8 !important;
}

.text-gray-main {
  color:#E8E8E8 !important;
}

.border-grey {
  border: 2px solid #E8E8E8;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.bg-grey {
  background: grey !important;
}

/* border */
.border-left {
  border-top: 1px solid #E8E8E8 !important;
  border-left: 1px solid #E8E8E8 !important;
  border-bottom: 1px solid #E8E8E8 !important;
}

.border-right {
  border-top: 1px solid #E8E8E8 !important;
  border-right: 1px solid #E8E8E8 !important;
  border-bottom: 1px solid #E8E8E8 !important;
}


/* sort */
.menuSort {
  max-width: 280px;
  min-width: 250px;
  width: 100%;
  padding: 10px;
}

.btn-terapkan {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 20px;

  background: #F5F6F7;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #A0A4A8;
}

.btn-terapkan:hover{
  cursor: pointer;
  background: #dfdfdf;
}

.btn-list-tab:hover{
  cursor: pointer;
}

.switch {
  display: flex;
  justify-content: space-between;
}

.tab-sort {
  justify-content: center;
  text-align: center;
  /* background: chartreuse; */
  width: 100%;
}
.tab-sort button {
  border: none;
  padding: 10px 30px;
  border-radius: 0;
  background: white;
  color: #A0A4A8;
}

.btn-list-sort {
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 7px 5px;
  color: #A0A4A8;
}

.btn-list-sort:hover{
  cursor: pointer;
  background: #F5F6F7;
}

.btn-active {
  background: #F5F6F7 !important;
  color: #78C2B4 !important;
}

.iconTooltip {
  text-align: center;
  margin: auto 0;
  display: flex;
}
.iconTooltip svg {
  margin: auto 2px !important;
  justify-content: center !important;
  text-align: center;
  display: flex;
}

.empty-search {
  text-align: center;
  color: #CACCCF;
  padding: 60px 0;
}

/* .css-1ss5fkm-MuiButtonBase-root-MuiTab-root {
  background: rgb(221, 221, 221) !important;
  padding: 0px !important;
  width: 70px !important;
  margin: 0px !important;
} */

.navbar .filteroff{
  color: #A0A4A8 !important;
}

.filteron {
  color: #78C2B4 !important;
}

.navbar .sortingoff{
  color: #A0A4A8 !important;
}

.navbar .sorting {
  color: #78C2B4 !important;
}